{% extends 'base.html' %}

{% block main %}
<div>
    <h1>My Tasks</h1>
    {% if show_my_tasks.count == 0 %}
    <p>You have no tasks</p>
    {% else %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of tasks</th>
            </tr>
        </thead>
        <tbody>
            {% for task in show_my_tasks %}
            {% if user.is_authenticated %}
            <tr>
                <td>
                    {{ task.name }}</a>
                </td>
                <td>
                    {{ task.start_date }}</a>
                </td>
                <td>
                    {{ task.due_date }}</a>
                </td>
                <td>{{ task.is_completed }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock main %}
